<div class="request-status">
      <div id="request_status" class="request-status-message request-status-message--waiting_response">
        <i class="icon-standalone icon_waiting_response"></i>
        <p>
          <%= extension_state_text %>
        </p>
      </div>
    </div>