<div class="homepage-hero front">
  <div class="inner">
    <div class="hero__intro">
      <%= render :partial => "frontpage_intro_sentence" %>
    </div>

    <div class="hero__new-search">
      <div class="new-search_content">
        <%= render :partial => "new_search" %>
      </div>
    </div>
  </div>
</div>
