<h2><%= _("landing_main_sentence_secund_title") %></h2>
<p><%= _("landing_main_sentence_secund_desciption") %> <a href="<%= help_about_url %>"><%= _("landing_main_sentence_secund_desciption_link") %></a></p>

