<ul class="credits">
 <li><%= _('Powered by <a href="http://www.alaveteli.org/">Alaveteli</a>') %></li>
 <li><%= _('Supported by <a href="http://www.opensocietyfoundations.org/">Open Society Institute</a>') %></li>
</ul>
